<div class="row">
    <div>
        <div class="list-group">
            {% if title %}
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">{{ title }}</h4>
                </a>
            {% endif %}
            {% for page in list_pages %}
                {% if is_keyword %}
                    <a href="{{ url_for('dat.keyword', site_title=site.title, keyword_id=keyword.id, start_keyword_id=is_next) }}" class="list-group-item">
                {% else %}
                    <a href="{{ url_for('dat.index', site_title=site.title, page_id=page.id) }}" class="list-group-item">
                {% endif %}
                    <div class="keyword-list-wrap">
                        <div class="keyword-list-wrap-icon"
                             style='background-image:url("{{ page.background_image }}");'>
                        </div>
                        <div class="keyword-list-wrap-body">
                            <div style="height: 50px">
                                <p class="keyword-list-text-title">{{ page.list_label }}</p><br />
                            </div>
                            <div>
                                <p class="keyword-list-text-position">{{ page.time }} </p>
                                <div class="keyword-list-text-position {{ page.star_level }}" style="margin-left: 10px; margin-top: 11px"></div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
