{% extends "master.html" %}

{% block title %}過去ログ{{ site.title_suffix }}{% endblock %}

{% block body %}
    {% with selector="history" %}
        {% include '/parts/parts_header.html' %}
    {% endwith %}

    <!--TITLE-->
    <div class="jumbotron-top-view-list-header bg-orange" style="margin-top: 30px">
        <div class="container">
            <h1>過去ログ</h1>
        </div>
    </div>
    <!--TITLE-->
    <p style="color: #f0ad4e; margin-left: 12px">鮮度ランク:&nbsp;{{ is_next if is_next else '最古' }}</p>
    <div class="container">
        <!--BODY-->
        {% if list_pages %}
            {% include '/parts/parts_full_list.html' %}
            {% if is_next %}
                <a href="{{ url_for('dat.history', site_title=site.title, start_page_id=is_next) }}" class="list-group-item">次のページへ</a>
            {% endif %}
        {% else %}
            でーたないぴょん
        {% endif %}
        <!--BODY-->

        {% include '/parts/parts_contents_footer.html' %}

    </div> <!-- /container -->


{% endblock %}

{% block footer %}
{% endblock %}
