{% extends "master.html" %}

{% block title %}【{{ site.name }}】『{{ keyword.keyword }}』についてまとめた記事{% endblock %}

{% block body %}
    {% include '/parts/parts_sub_header.html' %}

    <!--TITLE-->
    <div class="jumbotron-top-view-list-header">
        <div class="container">
            <h1>『{{ keyword.keyword }}』についてまとめた記事</h1>
        </div>
    </div>
    <!--TITLE-->

    <div class="container">
        <!--BODY-->
        {% include '/parts/parts_full_list.html' %}
        <!--BODY-->

        {% include '/parts/parts_panel.html'%}

        <footer>
            <p>&copy; Company 2013</p>
        </footer>

    </div> <!-- /container -->


{% endblock %}

{% block footer %}
{% endblock %}
