{% extends "master.html" %}

{% block title %}『{{ keyword.keyword }}』についてまとめた記事{{ site.title_suffix }}{% endblock %}

{% block body %}
    {% include '/parts/parts_sub_header.html' %}

    <!--TITLE-->
    <div class="jumbotron-top-view-list-header bg-blue">
        <div class="container">
            <h1>『{{ keyword.keyword }}』についてまとめた記事</h1>
        </div>
    </div>
    <!--TITLE-->

    <div class="container">
        <!--BODY-->
        {% if list_pages %}
            {% include '/parts/parts_full_list.html' %}
            {% if is_next %}
                <a href="{{ url_for('dat.keyword', site_title=site.title, keyword_id=keyword.id, start_keyword_id=is_next) }}" class="list-group-item">次のページへ</a>
            {% endif %}
        {% else %}
            でーたないぴょん
        {% endif %}
        <!--BODY-->

        {% include '/parts/parts_panel.html'%}

    </div> <!-- /container -->


{% endblock %}

{% block footer %}
{% endblock %}
