{% extends "master.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    {% include '/parts/parts_sub_header.html' %}

    <!--TITLE-->
    <div class="jumbotron-top-view-list-header">
        <div class="container">
            <h1>☆5直にはHPや物防で負け</h1>
            <p>2015/12/10に投稿</p>

            <!--TAG-->
{#            {% include '/parts/parts_tag.html' %}#}
            <!--TAG-->

        </div>
    </div>
    <!--TITLE-->

    <div class="container">
        <!--BODY-->
        <div class="message">
            <p class="message-contributor">1 :</p>

            <p class="message-body">白猫最強ランキング(10/21版)<br/>
                随時更新していきますので宜しくお願いします,<br/>
                <br/>
                SSS ゲオルグ<br/>
                ━━━━━━公式認定１強━━━━━━━<br/>
                SS 夏カスミ シャルロット テトラⅡ ツキミ<br/>
                ━━━━━━最強殿堂入り━━━━━━━<br/>
                S 茶フラン オウガ メアⅡ ヨシュア<br/>
                ━━━━━━ぶっ壊れの壁━━━━━━━<br/>
                A シズク エクセリア キング<br/>
                ━━━━━━環境最強の壁━━━━━━━<br/>
                以下有象無象<br/>
            </p>
        </div>

        <div class="message">
            <p class="message-contributor">2 :</p>

            <p class="message-body">未だにティルフィンガーさん守持ってない
            </p>
        </div>

        <div class="message">
            <p class="message-contributor">3 :</p>

            <p class="message-body">こんなにドキワク感のない1周年イベントも初めてだ <br/>
                多分AP消費1/2の時よりやる気がわかないと思う <br/>
            </p>
        </div>

        <div class="message">
            <p class="message-contributor">4 :</p>

            <p class="message-body">さやかは強いよな <br/>
                2凸しか出来なかったけど、そこらの4凸よりも全然強いっていう・・・ <br/>
                赤☆付きまくりの4凸マナレーヴァティンちゃんよりも余裕で強い <br/>
                なんで2凸で戦闘力４７０とか行っちゃうんだよｗ <br/>
            </p>
        </div>

        <div class="message">
            <p class="message-contributor">5 :</p>

            <p class="message-body">こんなにドキワク感のない1周年イベントも初めてだ <br/>
                多分AP消費1/2の時よりやる気がわかないと思う <br/>
            </p>
        </div>

        <div class="message">
            <p class="message-contributor">6 :</p>

            <p class="message-body">【リセマラ当たり姫】 <br/>
                <br/>
                グリダヴォル <br/>
                LS:全員に物防+10 <br/>
                スキル:周囲回復 <br/>
                <br/>
                芭蕉扇 <br/>
                LS:全員に魔防+10 <br/>
                スキル:自己回復、回避必殺大幅上昇バフ、HP消費1の魔弾 <br/>
                <br/>
                シェキナー <br/>
                LS:全員に技+10 <br/>
                スキル:攻撃範囲+1 <br/>
                <br/>
                イシューリエル <br/>
                LS:飛行に力+10・守+10 <br/>
                スキル:HP吸収、飛行 <br/>
                <br/>
                ウコンバサラ <br/>
                LS:剣斧槍ユニットの物防×1.2 <br/>
                スキル:HP減少分を攻撃力に加算 <br/>
                <br/>
                馬パラシュ <br/>
                LS:斧弓銃ユニットの物防×1.2 <br/>
                スキル:命中回避大幅上昇自己バフ <br/>
                <br/>
                ※LS＝リーダースキル（チームリーダーにするとチーム全体に効果） <br/>
            </p>
        </div>
        <!--BODY-->


        <!--TAG-->
        <div class="message tags-bottom">
        {% include '/parts/parts_tag.html' %}
        </div>
        <!--TAG-->


        {% include '/parts/parts_panel.html' %}

        <footer>
            <p>&copy; Company 2013</p>
        </footer>

    </div> <!-- /container -->


{% endblock %}

{% block footer %}
{% endblock %}
