{% extends "master.html" %}

{% block title %}{{ contents.title }}{{ site.title_suffix }}{% endblock %}
{% block siteurl %}{{ site.title }}/{% endblock %}
{% block body %}
    <!--HEADER-->
    {% with selector="home" %}
        {% include '/parts/parts_header.html' %}
    {% endwith %}
    <!--HEADER-->

    {% include '/parts/parts_sub_header.html' %}

    <div class="container">
        <!-- トップの背景画像 -->
        <div class="top-view-title" style='background-image: url("{{ site.top_image_path }}");'>
            <div class="label-top-view">{{ site.name }}</div>
        </div>

        <div class="page-header">
            <h1>{{ contents.title }}</h1>
            <p>{{ contents.sub_time }}に投稿</p>
        </div>

        <!--BODY-->
        {{ contents.page|safe }}
        <!--BODY-->

        {% with each_time=3 %}
            {% include '/parts/ad/1.html' %}
        {% endwith %}

        <!--TAG-->
        <div class="tags-bottom">
            {% include '/parts/parts_tag.html' %}
        </div>
        <!--TAG-->

        {% with each_time=4 %}
            {% include '/parts/ad/1.html' %}
        {% endwith %}

        {% with prev_contents=contents.prev_page %}
            {% include '/parts/parts_prev_page.html' %}
        {% endwith %}

        {% include '/parts/parts_share.html' %}

        <!--FOOTER-->

        {% with panel_pages=svm.panels %}
            {% include '/parts/parts_panel.html' %}
        {% endwith %}

        <hr>
        {% with title="人気記事", list_pages=svm.page_list %}
            {% include '/parts/parts_full_list.html' %}
        {% endwith %}

        {% with each_time=3 %}
            {% include '/parts/ad/parts_ad_footer.html' %}
        {% endwith %}

    </div> <!-- /container -->



{% endblock %}

{% block footer %}
{% endblock %}
