<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{#ページトップ#}
    <url>
        <loc>{{ url_base }}</loc>
        <lastmod>{{ new_site_date.strftime('%Y-%m-%d') }}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.5</priority>
    </url>
{#ゲーム毎のトップ#}
    {% for site in all_sites %}
    <url>
        <loc>{{ url_base }}{{ site.title }}/</loc>
        <lastmod>{{ site.update_at.strftime('%Y-%m-%d') }}</lastmod>
        <changefreq>hourly</changefreq>
        <priority>1.0</priority>
    </url>
    {% endfor %}
{#ページ毎10000件#}
    {% for page in new_pages %}
    <url>
        <loc>{{ url_base }}{{ page.site.title }}/dat/{{ page.id }}</loc>
        <lastmod>{{ page.open_at.strftime('%Y-%m-%d') }}</lastmod>
        <changefreq>daily</changefreq>
        <priority>{% if page.open_at > three_days_ago %}0.5{% else %}0.3{% endif %}</priority>
    </url>
    {% endfor %}
</urlset>