{% extends "master.html" %}

{% block title %}index{% endblock %}

{% block body %}
    <!--HEADER-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ site.name }}</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">過去ログ</a></li>
                </ul>

            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <!--HEADER-->

    <div class="container">

        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="top-view-title">
            <div class="label-top-view">{{ site.name }}</div>
        </div>

        <div class="page-header">
            <h1>【リセマラ当たり姫】</h1>
        </div>

        {{ page.time }}

        <ul class="tags">
            {% for k in page.keywords %}
                <li><a href="#">{{ k }}</a></li>
            {% endfor %}
        </ul><br />


        <div class="message">
            <p class="message-contributor">1 :</p>

            <p class="message-body">
                {{ page.page|safe }}


                【リセマラ当たり姫】 <br/>
                <br/>
                グリダヴォル <br/>
                LS:全員に物防+10 <br/>
                スキル:周囲回復 <br/>
                <br/>
                芭蕉扇 <br/>
                LS:全員に魔防+10 <br/>
                スキル:自己回復、回避必殺大幅上昇バフ、HP消費1の魔弾 <br/>
                <br/>
                シェキナー <br/>
                LS:全員に技+10 <br/>
                スキル:攻撃範囲+1 <br/>
                <br/>
                イシューリエル <br/>
                LS:飛行に力+10・守+10 <br/>
                スキル:HP吸収、飛行 <br/>
                <br/>
                ウコンバサラ <br/>
                LS:剣斧槍ユニットの物防×1.2 <br/>
                スキル:HP減少分を攻撃力に加算 <br/>
                <br/>
                馬パラシュ <br/>
                LS:斧弓銃ユニットの物防×1.2 <br/>
                スキル:命中回避大幅上昇自己バフ <br/>
                <br/>
                ※LS＝リーダースキル（チームリーダーにするとチーム全体に効果） <br/>
            </p>
        </div>

        <div class="message">
            <p class="message-contributor">2 :</p>

            <p class="message-body">さやかは強いよな <br/>
                2凸しか出来なかったけど、そこらの4凸よりも全然強いっていう・・・ <br/>
                赤☆付きまくりの4凸マナレーヴァティンちゃんよりも余裕で強い <br/>
                なんで2凸で戦闘力４７０とか行っちゃうんだよｗ <br/>
            </p>
        </div>
        <div class="well top-view-font">
            <p><a href="">【リセマラ当たり姫】.. の続きを読む >></a></p>
        </div>

        <hr>

        <!--<div class="hero-unit">-->
        <!--<h1>Hello, world!</h1>-->
        <!--<p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>-->
        <!--<p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
        <!--</div>-->

        <!-- Example row of columns -->
        <div class="row">
            {% for x in range(0,6)  %}
            <div class="col-xs-12 col-sm-6 col-lg-4 span4-custom bg-custom" style='background-image:url("./static/img/bg/punk.png")'>
                <div class="wrap"><a class="wrap" href="#">
                    <div class="label-top label-new">New!!</div>
                    <div class="label-top">2015年10月20日 20:32</div>
                    <p class="tile-font">ティル進化できるじゃん ☆4まだ50にしてないから進化してみてちょ </p>
                    <p class="label-link">ティル進化できるじゃん</p>
                </a></div>
            </div>
            {% endfor %}


{#            <div class="col-xs-12 col-sm-6 col-lg-4 span4-custom bg-custom"#}
{#                 style='background-image:url("./static/img/bg/punk.png")'>#}
{#                <h3 class="h3-title">ティル進化できるじゃん</h3>#}
{#                <div class="label-new">New!!</div>#}
{#                <p class="tile-font">ティル進化できるじゃん ☆4まだ50にしてないから進化してみてちょ </p>#}
{#                <p class="label-link"><a class="" href="#">ティル ★5 の続きを読む &raquo;</a></p>#}
{#            </div>#}
{#            <div class="col-xs-12 col-sm-6 col-lg-4 span4-custom bg-custom"#}
{#                 style='background-image:url("./static/img/bg/punk.png")'>#}
{#                <h3 class="h3-title">ティル進化できるじゃん</h3>#}
{#                <div class="label-new">New!!</div>#}
{#                <p class="tile-font">ティル進化できるじゃん ☆4まだ50にしてないから進化してみてちょ </p>#}
{#                <p class="label-link"><a class="" href="#">ティル ★5 の続きを読む &raquo;</a></p>#}
{#            </div>#}
{#            <div class="col-xs-12 col-sm-6 col-lg-4 span4-custom bg-custom"#}
{#                 style='background-image:url("./static/img/bg/punk2.png")'>#}
{#                <h3 class="h3-title">☆5直にはHPや物防で負け</h3>#}
{#                <div class="label-new">New!!</div>#}
{#                <p class="tile-font">☆5直にはHPや物防で負けるなぁ 未だにティルフィンガーさん守持ってない </p>#}
{#                <p class="label-link"><a class="" href="#">5直にはHPや の続きを読む &raquo;</a></p>#}
{#            </div>#}
{#            <div class="col-xs-12 col-sm-6 col-lg-4 span4-custom bg-custom"#}
{#                 style='background-image:url("./static/img/bg/punk.png")'>#}
{#                <h3 class="h3-title">ティル進化できるじゃん</h3>#}
{#                <div class="label-new">New!!</div>#}
{#                <p class="tile-font">ティル進化できるじゃん ☆4まだ50にしてないから進化してみてちょ </p>#}
{#                <p class="label-link"><a class="" href="#">ティル ★5 の続きを読む &raquo;</a></p>#}
{#            </div>#}
{#            <div class="col-xs-12 col-sm-6 col-lg-4 span4-custom bg-custom"#}
{#                 style='background-image:url("./static/img/bg/punk2.png")'>#}
{#                <h3 class="h3-title">☆5直にはHPや物防で負け</h3>#}
{#                <div class="label-new">New!!</div>#}
{#                <p class="tile-font">☆5直にはHPや物防で負けるなぁ 未だにティルフィンガーさん守持ってない </p>#}
{#                <p class="label-link"><a class="" href="#">5直にはHPや の続きを読む &raquo;</a></p>#}
{#            </div>#}

        </div>


        <hr>

        <div class="page-header">
            <h1>List groups</h1>
        </div>
        <div class="row">

            <div class="col-sm-6">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">新着記事</h4>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">5直にはHPや物防で負け</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                            diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">ティルフィンガーさん</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                            diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">ティル進化できるじゃん</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                            diam eget risus varius blandit.</p>
                    </a>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-6">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">人気記事</h4>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">5直にはHPや物防で負け</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                            diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">ティルフィンガーさん</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                            diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">ティル進化できるじゃん</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                            diam eget risus varius blandit.</p>
                    </a>
                </div>
            </div><!-- /.col-sm-4 -->
        </div>


        <footer>
            <p>&copy; Company 2013</p>
        </footer>

    </div> <!-- /container -->

{% endblock %}

{% block footer %}
{% endblock %}
