{% extends "master.html" %}


{% block title %}{{ site.name }}{% endblock %}
{% block siteurl %}{{ site.title }}/{% endblock %}
{% block headmeta %}
<meta content="{{ site.name }}" name="title">
<meta content="{{ site.name }}は、{{ site.short_name }}好きのための情報共有サービスです。 {{ site.short_name }}に関する最新のTips、ノウハウ、メモが公開されています。" name="description">
{% endblock %}

{% block body %}
    <!--HEADER-->
    {% with selector="home" %}
        {% include '/parts/parts_header.html' %}
    {% endwith %}
    <!--HEADER-->

    <div class="container">

        <!-- トップの背景画像 -->
        <div class="top-view-title" style='background-image: url("{{ site.top_image_path }}");'>
            <div class="label-top-view">{{ site.name }}</div>
        </div>

        <div class="page-header">
            <h1>{{ svm.contents.title }}</h1>
        </div>


        <div class="message tags-bottom">
        {{ svm.contents.time }}
        <!--TAG-->
        {% with contents=svm.contents %}
            {% include '/parts/parts_tag.html' %}
        {% endwith %}
        <!--TAG-->
        </div>

        {{ svm.contents.page|safe }}

        {% include '/parts/parts_contents_footer.html' %}

    </div> <!-- /container -->

{% endblock %}

{% block footer %}
{% endblock %}
