{% extends "master.html" %}

{% block title %}index{% endblock %}

{% block body %}
    <!--HEADER-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ site.name }}</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">過去ログ</a></li>
                </ul>

            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <!--HEADER-->

    <div class="container">

        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="top-view-title">
            <div class="label-top-view">{{ site.name }}</div>
        </div>

        <div class="page-header">
            <h1>{{ page.title }}</h1>
        </div>

        {{ page.time }}

        {% if page.keywords %}
        <ul class="tags">
            {% for k in page.keywords %}
                <li><a href="#">{{ k.keyword }}</a></li>
            {% endfor %}
        </ul><br />
        {% endif %}


        {{ page.page|safe }}

        <div class="well top-view-font">
            <p><a href="">{{ page.title }} の続きを読む</a></p>
        </div>

        <hr>

        <!--<div class="hero-unit">-->
        <!--<h1>Hello, world!</h1>-->
        <!--<p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>-->
        <!--<p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
        <!--</div>-->

        <!-- Example row of columns -->
        <div class="row">
            {% for page in front_pages  %}
            <div class="col-xs-12 col-sm-6 col-lg-4 span4-custom bg-custom" style='background-image:url("./static/img/bg/punk.png")'>
                <div class="wrap"><a class="wrap" href="#">
                    <div class="label-top label-new">New!!</div>
                    <div class="label-top">{{ page.time }}</div>
                    <p class="tile-font">{{ page.tile_body }} </p>
                    <p class="label-bottom">{{ page.tile_label }}</p>
                </a></div>
            </div>
            {% endfor %}


{#            <div class="col-xs-12 col-sm-6 col-lg-4 span4-custom bg-custom"#}
{#                 style='background-image:url("./static/img/bg/punk.png")'>#}
{#                <h3 class="h3-title">ティル進化できるじゃん</h3>#}
{#                <div class="label-new">New!!</div>#}
{#                <p class="tile-font">ティル進化できるじゃん ☆4まだ50にしてないから進化してみてちょ </p>#}
{#                <p class="label-link"><a class="" href="#">ティル ★5 の続きを読む &raquo;</a></p>#}
{#            </div>#}
{#            <div class="col-xs-12 col-sm-6 col-lg-4 span4-custom bg-custom"#}
{#                 style='background-image:url("./static/img/bg/punk.png")'>#}
{#                <h3 class="h3-title">ティル進化できるじゃん</h3>#}
{#                <div class="label-new">New!!</div>#}
{#                <p class="tile-font">ティル進化できるじゃん ☆4まだ50にしてないから進化してみてちょ </p>#}
{#                <p class="label-link"><a class="" href="#">ティル ★5 の続きを読む &raquo;</a></p>#}
{#            </div>#}
{#            <div class="col-xs-12 col-sm-6 col-lg-4 span4-custom bg-custom"#}
{#                 style='background-image:url("./static/img/bg/punk2.png")'>#}
{#                <h3 class="h3-title">☆5直にはHPや物防で負け</h3>#}
{#                <div class="label-new">New!!</div>#}
{#                <p class="tile-font">☆5直にはHPや物防で負けるなぁ 未だにティルフィンガーさん守持ってない </p>#}
{#                <p class="label-link"><a class="" href="#">5直にはHPや の続きを読む &raquo;</a></p>#}
{#            </div>#}
{#            <div class="col-xs-12 col-sm-6 col-lg-4 span4-custom bg-custom"#}
{#                 style='background-image:url("./static/img/bg/punk.png")'>#}
{#                <h3 class="h3-title">ティル進化できるじゃん</h3>#}
{#                <div class="label-new">New!!</div>#}
{#                <p class="tile-font">ティル進化できるじゃん ☆4まだ50にしてないから進化してみてちょ </p>#}
{#                <p class="label-link"><a class="" href="#">ティル ★5 の続きを読む &raquo;</a></p>#}
{#            </div>#}
{#            <div class="col-xs-12 col-sm-6 col-lg-4 span4-custom bg-custom"#}
{#                 style='background-image:url("./static/img/bg/punk2.png")'>#}
{#                <h3 class="h3-title">☆5直にはHPや物防で負け</h3>#}
{#                <div class="label-new">New!!</div>#}
{#                <p class="tile-font">☆5直にはHPや物防で負けるなぁ 未だにティルフィンガーさん守持ってない </p>#}
{#                <p class="label-link"><a class="" href="#">5直にはHPや の続きを読む &raquo;</a></p>#}
{#            </div>#}

        </div>


        <hr>

        <div class="page-header">
            <h1>List groups</h1>
        </div>
        <div class="row">

            <div class="col-sm-6">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">新着記事</h4>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">5直にはHPや物防で負け</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                            diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">ティルフィンガーさん</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                            diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">ティル進化できるじゃん</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                            diam eget risus varius blandit.</p>
                    </a>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-6">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">人気記事</h4>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">5直にはHPや物防で負け</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                            diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">ティルフィンガーさん</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                            diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">ティル進化できるじゃん</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed
                            diam eget risus varius blandit.</p>
                    </a>
                </div>
            </div><!-- /.col-sm-4 -->
        </div>


        <footer>
            <p>&copy; Company 2013</p>
        </footer>

    </div> <!-- /container -->

{% endblock %}

{% block footer %}
{% endblock %}
